<div class="container">
  <h1>Payment Form</h1>
  
  <!-- Title case Pipe -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Payee Name</label>
        <input class="form-control" (input)="onNameChange($event)" />
    </div>
  
    <div class="col">
      <label class="form-label fw-bold">Receiver Name</label><br />
      {{name | titlecase}}
    </div>
  </div>

  <!-- Date Pipe-->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Date to Pay</label>
        <input class="form-control" type="date" (input)="onDateChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Date</label><br />
      {{stringDate | date: "EEEE, MMMM d, y, h:mm:ss aaaa zzzz"}}
    </div>
  </div>

  <!--Currency Pipe -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Amount to Pay</label>
        <input class="form-control" (input)="onAmountChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Amount to Receive</label><br />
      {{amount | currency: 'BRL'}}
    </div>
  </div>

  <!-- Decimal Pipe -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Height</label>
        <input class="form-control" (input)="onHeightChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Height</label><br />
      {{height |  number: '1.2-2'}}
    </div>
  </div>

  <!-- Custom Pipe miles to km, m, cm e mm -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Miles</label>
        <input class="form-control" (input)="onMilesChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Kilometers</label><br />
      <!-- <ng-container *ngIf="(miles | convertFromMiles: 'km') > 10"> -->
        {{ miles | convertFromMiles: 'mm' | number: '1.0-2'}}
      <!-- </ng-container> -->
    </div>
  </div>

  <!-- Custom Pipe celsius to fahrenheit -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Celsius</label>
        <input class="form-control" (input)="onCelsiusChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Fahrenheit</label><br />
      <!-- <ng-container *ngIf="(miles | convertFromMiles: 'km') > 10"> -->
        {{ celsius | celsiusToFahrenheit: 'K'}}
      <!-- </ng-container> -->
    </div>
  </div>
  <pre>
    {{car | json}}
  </pre>
</div>
<router-outlet></router-outlet>