<div class="container">
  <h1>Payment Form</h1>
  
  <!-- Title case Pipe -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Payee Name</label>
        <input class="form-control" (input)="onNameChange($event)" />
    </div>
  
    <div class="col">
      <label class="form-label fw-bold">Receiver Name</label><br />
      {{name | titlecase}}
    </div>
  </div>

  <!-- Date Pipe-->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Date to Pay</label>
        <input class="form-control" type="date" (input)="onDateChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Date</label><br />
      {{stringDate | date: "EEEE, MMMM d, y, h:mm:ss aaaa zzzz"}}
    </div>
  </div>

  <!--Currency Pipe -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Amount to Pay</label>
        <input class="form-control" (input)="onAmountChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Amount to Receive</label><br />
      {{amount | currency: 'BRL'}}
    </div>
  </div>

  <!-- Decimal Pipe -->
  <div class="row justify-content-center">
    <div class="col">
        <label class="form-label fw-bold">Height</label>
        <input class="form-control" (input)="onHeightChange($event)" />
    </div>
    <div class="col">
      <label class="form-label fw-bold">Height</label><br />
      {{height |  number: '1.2-2'}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>